<h1> Team <%=@team["name"]%></h1>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/teams/my_team">Overview</a></li>
    <li role="presentation"><a href="/teams/member_badges">Individual Badges</a></li>
    <li role="presentation"><a href="/teams/team_badges">Team Badges </a></li>
    <li role="presentation"><a href="/teams/team_progress">Team Progression</a></li>
<ul>
