<h1> Team <%=@team["name"]%></h1>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/teams/my_team">Overivew</a></li>
    <li role="presentation"><a href="/teams/member_badges">Individual Badges</a></li>
    <li role="presentation" class="active><a href="/team/team_badges">Team Badges </a><li>
<ul>

<div id="team" class="row" style="padding-bottom: 45px;">
    <div class="col-md-3">
        <h3> Team Members </h3>
        <hr>
        <% @members.each do |member| %>
            <div><center><%=member["name"]%><center></div>
        <% end %>
    </div>
    <div class="col-md-9" style="padding-left: 45px;">
        <h3> Team Badge Progress </h3>
        <div style="padding-left:25px;"> The team has earnt <%=@team_badge_count%> Team Badges. </div>
        <h3> Individual Badge Progress </h3>
        <div style="padding-left:25px;"> Team members have earnt <%=@member_badges%> individual badges. </div>
    </div>
<div>
